go 1.23.2

use (
	./zenrock/bitcoin-proxy
	./zrchain
	./zenbtc
)

replace github.com/Zenrock-Foundation/zrchain/v5 v5.0.0 => ./zrchain
replace github.com/zenrocklabs/zenrock/zrchain => ./zrchain
replace github.com/btcsuite/btcd/btcec => ./zenrock/bitcoin-proxy
replace github.com/zenrocklabs/zenbtc/x/zenbtc/types => ./zenbtc