go 1.23.2

use (
	./zenbtc
	./zrchain
	./zenrock-avs
	./zenrock/bitcoin-proxy
	./zenrock/keyring
	./zenrock/tools/relayer
)

replace github.com/Zenrock-Foundation/zrchain/v5 v5.2.1 => ./zrchain
replace github.com/Zenrock-Foundation/zrchain/v5 v5.2.10 => ./zrchain